<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>McLean Consulting</h1>
                <h2>business technology interfacers</h2>
            <hr>
            <p>We help senior leaders in the energy access, impact technology and financial inclusion industries to realise their vision by developing the technology strategy and leading teams effectively.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
