<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-road wow bounceIn text-primary"></i>
                    <h3>Business Strategy Alignment</h3>
                    <p class="text-muted">We provide or complement a technology strategy and align it to your business.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-group wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Team Leadership</h3>
                    <p class="text-muted">Ensuring the team understand how to execute on the strategy and are equipped for it.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gears wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Optimise for Scale</h3>
                    <p class="text-muted">Optimising use of technology in your organisation to help it scale and grow.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bar-chart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Measurable</h3>
                    <p class="text-muted">Setting and analysing key performance indicators (KPIs) that represent success.</p>
                </div>
            </div>
        </div>
    </div>
</section>
